{% extends 'blog/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="blog-post">
                        <div class="blog-post-title">
                            <h2><a href="{{ post.get_absolute_url }}" class="text-dark"><b>{{ post.title }}</b></a>
                            </h2>
                        </div>
                        <div class="blog-post-meta">
                            <div class="post-author">
                                <small style="color:gray">{{ post.published_date|date:"Y-m-d" }} {{ post.author }} 작성
                                </small>
                            </div>

                        </div>
                        <div class="post-summary">>{{ post.text|truncatewords_html:10 }}</div>

                        <i class="fa fa-tags" title="tags">
                            {% if post.tags %}
                                <a class="badge badge-pill badge-secondary"
                                   href="{% url "post_tags" post.tags %}">{{ post.tags }}</a>
                            {% else %}
                                <a href=""></a>
                            {% endif %}

                        </i>
                        <hr/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}